*{
    font-family: 'Raleway', sans-serif;  
}

header{
    margin: 0px auto;
    width: 100%;
    min-height: 75px;
    padding: 10px 50px 10px 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
   background: rgb(145,141,141);
background: linear-gradient(90deg, rgba(145,141,141,1) 10%, rgba(103,107,111,1) 52%, rgba(37,40,41,1) 89%);

}

.logo{
    color: black;
}

.nav_head{
    list-style: none;
    padding: 13px;
    width: 200px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.pas{ 
    text-decoration: none;
    color: azure;
    font-size: 27px;
    margin: 10px
}


background: rgb(113,94,77);
background: linear-gradient(90deg, rgba(113,94,77,1) 2%, rgba(167,148,131,1) 47%, rgba(131,107,92,0.9980122041420119) 82%);


@media only screen and (max-width : 375px){
    .logo{
        font-size: 20px;
    }
}